@font-face {
    font-family: "literaturnaya";
    src: url('../fonts/literaturnaya/LiteraturnayaRegular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "literaturnaya";
    src: url('../fonts/literaturnaya/LiteraturnayaBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "literaturnaya";
    src: url('../fonts/literaturnaya/LiteraturnayaItalic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'literaturnaya', sans-serif;
    /* overflow-x: auto; */
    overflow-y: auto;
}

header {
  position: fixed; /* Фиксированное положение */
  top: 0;          /* Привязка к верхнему краю экрана */
  left: 0;         /* Привязка к левому краю экрана */
  width: 100%;     /* Ширина на весь экран */
  z-index: 1000;   /* Отображение поверх остального контента */
  background-color: #181A1B; /* фон обязателен, иначе контент просвечивает под фиксированной шапкой */
}

nav {
  width: 100%;
  border-bottom: 2px solid #e5e5e5;
  box-shadow: 0px 15px 20px #181A1B;
}

/* html {
  min-width: 800px;
} */

* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #181A1B;
    color: #e5e5e5;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.navpanel {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.logo {
    display: flex;
    vertical-align: middle;
    width: clamp(150px, 15%, 230px);
    height: clamp(61.53px, calc(5.2vw + 20px), 92.69px);
    /* padding-right: clamp(0px, calc(20% - 100px), calc(20% - 50px)); */
}

.logo-img {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
}

.navbtn {
    display: flex;
    width: clamp(150px, 15vw, 200px);
    height: clamp(32px, 5vw, 40px);
    font-size: clamp(16px, 1.75vw, 20px);
    align-items: center;
    justify-content: center;
    border-color: #e5e5e5;
    border-style: solid;
    border-radius: clamp(16px, 2.5vw, 20px);
    border-width: 2px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbtn a {
    display: inline-block;
}

main {
    margin-top: auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 100vh;
}

.agitation {
    font-size: 14pt;
    font-weight: 500;
    max-width: 800px;
}

.agitation ._head {
    font-size: 30pt;
    font-weight: 500;
}



footer {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contacts {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.contact {
    display: flex;
}


.copyrights {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11pt;
}